/*Home Page*/

/* I used this property, to show transition between one section to other section smoothy */
html {
    scroll-behavior: smooth;
}

/*Body removes margin from both sides and sets background color to white and sets font-family to Rubik*/
body {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: "Rubik", sans-serif;
    color: white;
    margin-bottom: auto;
}

/* Sets selection background color to orange and text color to black */
::selection {
    background-color: orange;
    color: black;
}

/* Sets first section background color to "#DC6B19" with height of 630px and position is adjusted to match the posiion of background image*/
.introduction {
    background-color: #DC6B19;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 630px;
    position: relative;
    bottom: 150px;
    z-index: 3;
}

/* Sets background image in first section with original image aspect ratio and the position of background image is center on both x and y axis and
  opacity of image is reduced to 0.25*/
.background-image{
    background-image: url('https://images.unsplash.com/photo-1534567153574-2b12153a87f0?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8em9vfGVufDB8fDB8fHww');
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 630px;
    opacity: 0.25;
    position: absolute;
    top: 0px;
    z-index:1
}

/*Menu bar background color sets to "#FF6500" and when the website scroll, the menu bar will be sticked to top of the screen*/
header {
    margin: 0px auto;
    background-color: #FF6500;
    color: white;
    height: 80px;
    position: sticky;
    top:0px;
    z-index: 4;
}

/* The content of menu bar width is sets 90% and it display the elements next each other and it distributes the space equally between the elements
and it aligns elements in vertically center*/
nav {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

/* The links color sets to white and it removes the underline of the links*/
a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 600;
    z-index: 2;
}

/*when mouse cursor is pointed to link, the text will make glowing effect*/
nav a:hover {
    text-shadow: 0px 0px 2px;
}

/*Right side of menu bar sets width to 45% and it display the elements next each other and it distributes the space equally between the elements*/
.menu {
    width: 45%;
    margin-left: 30%;
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
}

/*Right side links of menu bar, The links color sets to white and it removes the underline of the links */
.menu a{
    z-index: 2;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 5px;
    padding-top: 5px;
}

/* it sets border of the link when mouse cursor is pointed to link */
.menu a:hover{
    border-bottom: 3px solid white;
}

/*Menu button sets background color to white and removes border of the button and sets border radius to 4px and increases size of the button to 1.1 and 
sets cursor to pointer */
.menu button {
    background-color: white;
    font-size: 15px;
    font-weight: 550;
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    scale: 1.1;
    cursor: pointer;
}

/*Menu button removes the underline of the link */
.booking-button{
    text-decoration: none;
}

/*When the mouse is points to menu button, it will change background color to "#FF9800", text color to white and increases the size of button to 1.2 in 1 second */
.menu button:hover{
    background-color: #FF9800;
    color: white;
    scale: 1.2;
    transition: 1s;
}

/*When the mouse pointer is away from the button, it changes back to original form in 1 second*/
.menu button:not(:hover){
    transition: 1s;
}

/*Description text and book-now button is placed one line after other and it aligns elements in horizontally center*/
.description {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    align-items: center;
    margin-top: 150px;
}

/*Description text, it will overlap the text over the background image and set color to white*/
.description p {
    z-index: 2;
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 250px
}

/*Book button in first section, it will overlap the button over the background image and set background-color to "#FF9800" and color to white*/
.description button{
    font-size: 18px;
    padding: 15px;
    z-index: 4;
    background-color: #FF9800;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
}

/*When the mouse pointer is away from the button, it changes back to original form in 1 second*/
.description button:not(:hover) {
    transition: 1s;
}

/*When the mouse is points to book button, it will change background color to white, text color to black and increases the size of button to 1.1 in 1 second*/
.description button:hover {
    background-color: white;
    color: black;
    scale: 1.1;
    transition: 1s;
    cursor: pointer;
}

/*Main attraction section position is adjusted*/
.attraction {
    margin-top: -130px;
}

/*Heading of main attraction section is aligned to center and set color to "#FF6500" */
.attraction h1 {
    text-align: center;
    color: #FF6500;
    font-weight: 500;
}

/*Image container, it set width to 80% and images are placed next to each other  */
.img-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

/*Inserting background image from a folder and keeping its original aspect ratio of image size*/
#image1 {
    background-image: url('../Images/gold-tiger.jpg');
    background-size:cover ;
    background-position-x: center;
}

#image2 {
    background-image: url('../Images/Orangutan.jpg');
    background-size: cover;
    background-position-x: center;
}

#image3 {
    background-image: url('../Images/Lemurs.jpeg');
    background-size: cover;
    background-position-x: center;
}

#image4 {
    background-image: url('../Images/Giraffes.jpg');
    background-size: cover;
    background-position-x: center;
}

#image5 {
    background-image: url('../Images/Birds.jpg');
    background-size: cover;
    background-position-x: center;
}

/* Each image box is set height and width to 250px and text in image box is aligned center in both horizonally and vertically*/
.images {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The text in image box, it sets color to black and it hides the text*/
.images p {
    z-index: 2;
    display: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
}

/*When the mouse is points to images, it will expand its width to 350px and reduce the opacity to 0.6 in 3 seconds*/
.images:hover {
    width: 350px;
    transition: 3s;
    opacity: 0.6;
}

/*When the mouse pointer is away from the images, it changes back to original form in 1 second*/
.images:not(:hover) {
    transition: 3s;
}

/*About section, the text color sets to white and description part and image part are placed next to each other */
.about-us {
    color: white;
    display: flex;
    margin-top: 50px;
}

/*About section description part, background color sets to "#FF6500" and sets width to 50% */
.about {
    width: 50%;
    background-color: #FF6500;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/*Heading of about section*/
.about h1 {
    font-weight: 500;
}

/*Sub heading of about section*/
.subtitle {
    font-size: 25px;
    margin-top: 50px;
}

/*Description of about section*/
.about-description {
    font-size: 18px;
}

/*Image is placed on the right half of the about section*/
.about-image {
    width: 50%;
}

/*Image of about section, it sets height and width to 100% and keeping its original aspect ratio of image size*/
.about-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*Contact and Zoo timing section*/
.section-4 {
    display: flex;
    margin-top: 20px;
}

/*Zoo timing section, it sets text color to "#FF6500" and text aligned to center */
.timing {
    color: #FF6500;
    text-align: center;
    width: 50%;
}

/*Heading of Zoo timing section*/
.timing h1{
    font-weight: 500;
}

/*Text of zoo timing section*/
.days {
    color: black;
    margin-top: 25px;
    font-size: 18px;
}

/*Contact us section*/
.contact {
    color: black;
    width: 50%;
    margin-left: 10%
}

/*Heading of contact section*/
.contact h1 {
    color: #FF6500;
    font-weight: 500;
}

/*Input box of contact section*/
input[type=text], textarea, input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  font-family: "Rubik", sans-serif;
}

/*It removes outline of input box*/
input:focus, textarea:focus {
    outline: none;
}

/*Submit button of contact section*/
input[type=submit] {
  background-color: #FF6500;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
}

/*When the mouse is points to submit button, it will changes background color to black and text color to white*/
input[type=submit]:hover {
  background-color: black;
  color: white;
}

/*Reviews section, it sets width to 100%, background color to "#FF6500" and text color to white*/
.reviews-section {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 50px;
    background-color: #FF6500;
    color: white;
}

/*review container, it sets width to 80% and user-review boxes are placed next to each other*/
.reviews {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/*heading of reviews section, text aligns to center*/
.reviews-section h1 {
    font-weight: 500;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

/*User-review box, it sets background color to white and text color to black*/
.customer {
    background-color: white;
    color: black;
    border-radius: 4px;
    margin-left: 30px;
    flex-basis: 100%;
    padding: 15px;
    margin-bottom: 50px;
    font-size: 18px;
}

/*User-name*/
.user-name{
    font-weight: 600;
    font-size: 20px;
}

/*Map container, it sets height to 300px and width to 99.5%*/
.map {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 300px;
    overflow:hidden
}

/*Map, it sets height and width to 100%*/
.map iframe {
    width: 100%;
    height: 100%;
}

/*Footer, it sets background color to "#FF6500"*/
footer {
    background-color: #FF6500;
    margin-bottom: auto;
    padding-bottom: 20px;
}

/*Sub heading of footer*/
.foot-title{
    font-size: 25px;
}

/*Footer container, it sets width to 85%, display elements next to each other and it distributes the space equally between the elements */
.last-section {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

/*Subscription input box, it sets background color to "#FF6500" and text color to white and it sets border bottom 2px solid white color*/
.subscribe input[type=email] {
    background-color: #FF6500;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 0%
}

/*it sets placeholder text color to white color*/
.subscribe input[type=email]::placeholder{
    color: white;
}

/*Subscribe button, it sets button background color to white and text color to "#FF6500"*/
.subscribe input[type=submit] {
    background-color: white;
    color: #FF6500;
    font-weight: 500;
}

/*When the mouse is points to subscribe button, it will changes background color to black and text color to white*/
.subscribe input[type=submit]:hover {
    background-color: black;
    color: white;
}

/*Social media images, it sets height and width of the image to 35px*/
.social-media img {
    height: 35px;
    width: 35px;
}

/*When the mouse is points to social media images, it inverts the color*/
.social-media img:hover {
    filter: invert();
}

/* quicklinks section, it displays the elements one line after the other*/
.quicklinks {
    display: flex;
    flex-direction: column;
}

/*Links of quicklinks*/
.quicklinks a{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;
    padding-top: 0px;
}

/**When the mouse is points to link, it changes color of the link to black*/
.quicklinks a:hover{
    color: black;
}

/*Copyright text aligned to center */
.copyright {
    text-align: center;
}

.copyright p{
    margin: 0%;
    font-size: 18px;
}


/* Ticket Page*/

/*catergory-container, it sets width to 78% */
.category {
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/*Heading of ticket page, gallery page, FAQ page, booking page and animals page, it sets text color to "#FF6500" and text aligned to center*/
.ticket-head, .faq-head, .our-animal-head, .gallery-head, .booking-head{
    color: #FF6500;
    text-align: center;
    margin-top: 50px;
    font-weight: 500;
    margin-bottom: 50px;
}

/*It sets gap between ticket-section and footer*/
.ticket-section {
    margin-bottom: 100px;
}

/*subheading text sets color to #FF6500*/
#ticket-title {
    color: #FF6500;
    margin-top: 50px;
    font-size: 27px;
    margin-bottom: 10px;
}

/*Ticket category is displayed in two columns*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

/*Divs in each ticket category are placed next to each other and it distributes the space equally between the divs*/
.grid-container > div {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    width: 500px;
}

/*It sets ticket title and ticket description width to 80%*/
.type {
    width: 80%;
    font-size: 22px;
}

/*It sets font-size of ticket rate to 22px*/
.rate {
    font-size: 22px;
}

/* It sets ticket description text color to "#414141" */
.ticket-details{
    color: #414141;
    font-size: 15px;
}


/*FAQ'S page*/

/*question container sets width to 60%, question and button are placed next to each other with spaced between them and it sets border bottom 2px solid white color*/
.FAQ {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    justify-content: space-between;
    font-size: 22px;
    border-bottom: 2px solid #FF6500;
}

/*User cannot select "+" button because I disabled select option to this button*/
.button {
    cursor: pointer;
    font-weight: 600;
    user-select: none;
}

/*When the mouse is points to "+" button, it changes the color to "#FF6500" */
.button:hover{
    color: #FF6500;
}

/*It hides the answer of the question*/
.answers{
    display: none;
    font-weight: 300;
}

/*It sets color of questions and button to black */
.questions, .button {
    color: black;
    font-weight: 500;
}

/*It sets gap between the FAQ section and footer*/
.faq-section {
    margin-bottom: 100px;
}


/*Our Animals page*/

/*It sets text color to black and it sets gap between the animal-section and footer*/
.animal-section {
    color: black;
    margin-bottom: 100px;
}

/*Animal box, it sets width to 80%, animal image and animal details are placed next to each other with spaced between them and 
animal details are aligned vertically center to animal image*/
.animal-box {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    align-items: center;
    margin-bottom: 50px;
}

/*It sets height and width of the animal image to 250 px and it sets border radius to 50% and border color to "#FF6500" and keeping its original aspect ratio of image size */
.animal-img img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #FF6500;
}

/*It sets width of the animal-detail to 65%*/
.animal-details {
    width: 65%;
    font-size: 20px;
}

/*It sets font-weight of animal name to 500px*/
.animal-name {
    font-weight: 500;
    font-size: 23px;
    margin-top: -50px;
    margin-bottom: 15px;
}


/*Gallery page*/

/*It sets width of gallery container to 80% and height to 1600px*/
.gallery-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 1600px
}

/*It sets width of the column to 33% and columns are placed one after the other column*/
.column {
    float: left;
    width: 33%;
    padding: 5px;
    box-sizing: border-box;
}

/*Images are inserted in columns with thier original aspect ratio of the image and gaps between the images is 5px*/
.column img {
    margin-top: 5px;
    width: 100%;
}

/*when mouse cursor is pointed to image, the forms shadow behind the image in 1 second*/
.column img:hover {
    box-shadow: 0px 0px 10px 1px #FF6500;
    transition: 1s;
}

/*when mouse cursor is not pointed to image, it removes the shadow in 1 second*/
.column img:not(:hover) {
    transition: 1s;
}

/*Booking page*/

/*It sets width of booking-section to 80% and sets gap between the booking-section and footer to 50px*/
.booking-section {
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 50px;
}

/*It sets gap between the heading and booking-section to 75px*/
.book-box {
    margin-top: 75px;
}

/*Label and input box are placed next to each with spaced between them and input box are aligned vertically center to label*/
.ticket-type{
    font-size: 22px;
    margin-top: 25px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    justify-content: space-between;
    align-items: center;
}

/*Input box of booking section */
input[type=date], .input-box select {
    width: 150px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

/*In total container, it displays the elements next to each other and sets text color to "#FF6500" and aligns whole element in horizontally center*/
.total {
    display: flex;
    color: #FF6500;
    font-size: 25px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;
}