html {
    scroll-behavior: smooth;
}

body {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: "Rubik", sans-serif;
    color: white;
    margin-bottom: auto;
}

::selection {
    background-color: orange;
    color: black;
}

.introduction {
    background-color: #DC6B19;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 630px;
    position: relative;
    bottom: 150px;
    z-index: 3;
}

.background-image{
    background-image: url('https://images.unsplash.com/photo-1534567153574-2b12153a87f0?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8em9vfGVufDB8fDB8fHww');
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 630px;
    opacity: 0.25;
    position: absolute;
    top: 0px;
    z-index:1
}

header {
    margin: 0px auto;
    background-color: #FF6500;
    color: white;
    height: 80px;
    position: sticky;
    top:0px;
    z-index: 4;
}

nav {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

a{
    margin: 0;
    padding-top: 25px;
    z-index: 2;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}

.menu {
    margin-top: 5px;
    z-index: 2;
    margin-left: 30%;
    width: 45%;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.menu a{
    z-index: 2;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.menu a:hover{
    border-bottom: 3px solid white;
}

.menu button {
    background-color: white;
    font-size: 15px;
    font-weight: 550;
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    margin-top: 17px;
    scale: 1.1;
}

.menu button:hover{
    background-color: #FF9800;
    color: white;
    scale: 1.2;
    transition: 1s;
}

.menu button:not(:hover){
    transition: 1s;
}

.description {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    align-items: center;
    margin-top: 150px;
}

.description p {
    z-index: 2;
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 250px
}

.description button{
    font-size: 18px;
    padding: 15px;
    z-index: 2;
    background-color: #FF9800;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.description button:not(:hover) {
    transition: 1s;
}

.description button:hover {
    background-color: white;
    color: black;
    scale: 1.1;
    transition: 1s;
    cursor: pointer;
}

.attraction {
    margin-top: -130px;
}

.attraction h1 {
    text-align: center;
    color: #FF6500;
    font-weight: 500;
}

.img-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#image1 {
    background-image: url('../Images/gold-tiger.jpg');
    background-size:cover ;
    background-position-x: center;
}

#image2 {
    background-image: url('../Images/Orangutan.jpg');
    background-size: cover;
    background-position-x: center;
}

#image3 {
    background-image: url('../Images/Lemurs.jpeg');
    background-size: cover;
    background-position-x: center;
}

#image4 {
    background-image: url('../Images/Giraffes.jpg');
    background-size: cover;
    background-position-x: center;
}

#image5 {
    background-image: url('../Images/Birds.jpg');
    background-size: cover;
    background-position-x: center;
}

.images {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images p {
    z-index: 2;
    display: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
}

.images:hover {
    width: 350px;
    transition: 3s;
    opacity: 0.6;
}

.images:not(:hover) {
    transition: 3s;
}

.about-us {
    color: white;
    display: flex;
    margin-top: 50px;
}

.about {
    width: 50%;
    background-color: #FF6500;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

.about h1 {
    font-weight: 500;
}

.subtitle {
    font-size: 25px;
    margin-top: 50px;
}

.about-image {
    width: 50%;
}

.about-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section-4 {
    display: flex;
    margin-top: 20px;
}

.timing {
    color: #FF6500;
    text-align: center;
    width: 50%;
}

.timing h1{
    font-weight: 500;
}

.days {
    color: black;
    margin-top: 25px;
    font-size: 18px;
}

.contact {
    color: black;
    width: 50%;
    margin-left: 10%
}

.contact h1 {
    color: #FF6500;
    font-weight: 500;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  font-family: "Rubik", sans-serif;
}

input:focus, textarea:focus {
    outline: none;
}

input[type=submit] {
  background-color: #FF6500;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
}

input[type=submit]:hover {
  background-color: black;
  color: white;
}

.reviews-section {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 50px;
    background-color: #FF6500;
    color: white;
}

.reviews {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.reviews-section h1 {
    font-weight: 500;
}

.customer {
    background-color: white;
    color: black;
    border-radius: 4px;
    margin-left: 30px;
    flex-basis: 100%;
    padding: 15px;
    margin-bottom: 50px;
    font-size: 18px;
}

.user-name{
    font-weight: 600;
    font-size: 20px;
}

.reviews-section h1{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

.map {
    margin-left: auto;
    margin-right: auto;
    width: 99.5%;
    height: 300px;
}

.map iframe {
    width: 100%;
    height: 300px;
}

footer {
    margin-top: 5px;
    background-color: #FF6500;
    margin-bottom: auto;
    padding-bottom: 20px;
}

.foot-title{
    font-size: 25px;
}

.last-section {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.subscribe input[type=text] {
    background-color: #FF6500;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 0%
}

.subscribe input[type=text]::placeholder{
    color: white;
}

.subscribe input[type=submit] {
    background-color: white;
    color: #FF6500;
    font-weight: 500;
}

.social-media img {
    height: 35px;
    width: 35px;
}

.quicklinks {
    display: flex;
    flex-direction: column;
}

.quicklinks a{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;
    padding-top: 0px;
}

.copyright {
    text-align: center;
}

.copyright p{
    margin: 0%;
    font-size: 18px;
}

/* Ticket Page*/

.category {
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.ticket-head{
    color: #FF6500;
    text-align: center;
    margin-top: 50px;
    font-weight: 500;
}

#ticket-title {
    color: #FF6500;
    margin-left: 90px;
    margin-top: 50px;
    font-size: 27px;
    margin-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
  }

  .grid-container > div {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.type {
    width: 80%;
    font-size: 22px;
}

.rate {
    font-size: 22px;
}

.ticket-details{
    color: #414141;
    font-size: 15px;
}

/*FAQ'S page*/

.FAQ {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    justify-content: space-between;
    font-size: 22px;
    border-bottom: 2px solid #FF6500;
}

.button {
    cursor: pointer;
    font-weight: 600;
    user-select: none;
}

.button:hover{
    color: #FF6500;
}

.answers{
    display: none;
    font-weight: 300;
}

.faq-head {
    color: #FF6500;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 500;
}

.questions, .button {
    color: black;
    font-weight: 500;
}

.faq-section {
    margin-bottom: 100px;
}

/*Our Animals page*/
.our-animal-head {
    color: #FF6500;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 500;
}

.animal-section {
    color: black;
    margin-bottom: 100px;
}

.animal-box {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    align-items: center;
    margin-bottom: 50px;
}

.animal-img img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #FF6500;
}

.animal-details {
    width: 65%;
    font-size: 20px;
}

.animal-name {
    font-weight: 500;
    font-size: 23px;
    margin-top: -50px;
    margin-bottom: 15px;
}